table {
	width: 100%;
	background: #fff;
}

table,
th,
td {
	border: 1px solid black;
	/* border-collapse: collapse; */
    border-radius: 5px;
    text-align: center;
}

/* td {
    border-radius: 5px;
} */

tr:nth-child(even) {
	background-color: #d6eeee;
}

.search-box {
    width: inherit;
}

button {
    height: 31px;
    border-radius: 9px;
    border: 1px solid darkgray;
    width: 77px;
    margin: 10px;
}
